<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- User profile -->
        <div class="user-profile">
            <!-- User profile image -->
            <div class="profile-img"> <img src="/images/users/<%= profile.profile_pic_url %>" alt="user" />
                <!-- this is blinking heartbit-->
                <div class="notify setpos"> </div>
            </div>
            <!-- User profile text-->
            <div class="profile-text">
                <h5><%= profile.first_name+" "+profile.last_name%></h5>
                <h6 class="text-muted"><%= profile.account_type %></h6>
            </div>
        </div>
        <!-- End User profile text-->
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="nav-devider"></li>
                <li> <a class="waves-effect waves-dark" href="/dashboard" aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Dashboard</span></a>
                </li>

                <% if(profile.account_type.toString() === 'SUPER ADMIN'){ %>

                    <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-account-group"></i><span class="hide-menu">Users</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="/user">Super Admin</a></li>
                            <li><a href="/user/regional_admin">Regional Admin</a></li>
                        </ul>
                    </li>

                <% } %>

                <% if(profile.account_type.toString() === 'SUPER ADMIN' || profile.account_type.toString() === 'REGIONAL ADMIN'){ %>

                    <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-taxi"></i><span class="hide-menu">Taxi</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="/user/drivers">Drivers</a></li>
                            <li><a href="/user/trackDrivers">Track Drivers</a></li>
                            <li><a href="/user/passengers">Passengers</a></li>
                        </ul>
                    </li>

                <% } %>

                <% if(profile.account_type.toString() === 'SUPER ADMIN' || profile.account_type.toString() === 'REGIONAL ADMIN'){ %>

                    <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-food"></i><span class="hide-menu">Foods</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="/user/foodRiders">Food Delivery Riders</a></li>
                            <li><a href="/user/trackFoodRiders">Track Riders</a></li>
                        </ul>
                    </li>

                <% } %>

                <% if(profile.account_type.toString() === 'SUPER ADMIN' || profile.account_type.toString() === 'REGIONAL ADMIN'){ %>

                    <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-store"></i><span class="hide-menu">Groceries</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="/user/groceryRiders">Grocery Delivery Riders</a></li>
                            <li><a href="/user/trackGroceryRiders">Track Riders</a></li>
                        </ul>
                    </li>

                <% } %>

                <% if(profile.account_type.toString() === 'SUPER ADMIN' || profile.account_type.toString() === 'REGIONAL ADMIN'){ %>

                    <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-medical-bag"></i><span class="hide-menu">Pharmacies</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="/user/pharmacyRiders">Delivery Riders</a></li>
                            <li><a href="/user/trackPharmacyRiders">Track Riders</a></li>
                        </ul>
                    </li>

                <% } %>

                <% if(profile.account_type.toString() === 'SUPER ADMIN' || profile.account_type.toString() === 'REGIONAL ADMIN'){ %>

                    <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-email"></i><span class="hide-menu">Courier</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="/user/courierRiders">Delivery Riders</a></li>
                            <li><a href="/user/trackCourierRiders">Track Riders</a></li>
                        </ul>
                    </li>

                <% } %>



            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>